/* TABS */
ul.issues__tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-bottom: 1px solid #ededed;
  display: flex;
  flex-direction: row;
}

ul.issues__tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  margin: 0;
  cursor: pointer;
}

ul.issues__tabs li.--current {
  background: #ededed;
  color: #222;
  font-weight: 600;
}

ul.issues__tabs li:last-child {
  margin-left: auto;
  color: #fff;
  background: #0a74ab;
}

ul.issues__tabs li.--current:last-child {
  background: #3397c9;
  color: #fff;
}

.issues__tab {
  display: none;
  padding-top: 12px;
}

.issues__tab.--current {
  display: inherit;
}

/* ISSUES */
.issues__list .issue {
  border-bottom: 1px solid #eee;
  padding-bottom: 11px;
  margin-bottom: 11px;
}

.issues__list .issue:last-child {
  border-bottom: 0px;
  padding-bottom: 0;
  margin-bottom: 0px;
}

/* ISSUE HEADER */
.issues__list .issue__header {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.issues__list .issue__meta {
  flex: 1 0 auto;
}
.issues__list .issue__labels {
  flex: 0 1 auto;
}

.issues__list .issue__title {
  font-weight: 600;
  display: block;
}

.issues__list .issue__subtitle {
  display: block;
  font-size: 12px;
  color: #72777c;
}

.issues__list ul.issue__labels {
  max-width: 100px;
  text-align: right;
}

.issues__list li.issue__label {
  display: inline-block;
  margin: 0;
}

.issues__list li.issue__label span {
  padding: 2px 4px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}

/* ISSUE BODY */
.issues__list .issue__body {
  margin-top: 12px;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* ISSUE MESSAGE */
.issues__list .issue__message {
  padding: 12px;
  background: #f8f8f8;
  border-radius: 4px;
}

/* ISSUE COMMENTS */
.issues__list ul.issue__commtents {
  margin: 1em;
}
.issues__list ul.issue__commtents li.issue__comment {
  display: flex;
  flex-direction: row;
  margin: 0 0 1em 0;
  padding: 0 0 1em 0;
  align-items: flex-start;
  border-bottom: 1px solid #f0f0f0;
}
.issues__list ul.issue__commtents li.issue__comment .issue_comment-date {
  color: #a4a4a4;
  background: #f8f8f8;
  font-family: monospace;
  font-size: 11px;
  padding: 6px;
  margin-right: 1em;
}
.issues__list ul.issue__commtents li.issue__comment .issue_comment-body {
}

.issues__list ul.issue__commtents li.issue__comment .issue_comment-body p {
  margin: 0 0 1em 0;
  font-size: 12px;
  line-height: 18px;
  color: #4e4e4e;
}

/* ISSUE COMMENT FORM */

.issues__list .issue__comment-form {
  margin-top: 18px;
  margin-bottom: 18px;
}

.issues__list .issue__comment-form textarea {
  width: 100%;
}

.issues__list .issue-comment-response {
  min-height: 26px;
  line-height: 2.18181818;
  padding: 0 8px;
  font-size: 11px;
}

/* ISSUE MILESTONE */
.issues__list .issue__milestone {
  font-size: 11px;
  color: #0a74ab;
  margin-left: 12px;
}

.issues__list .issue__milestone::before {
  content: "\2192";
  display: inline-block;
  font-size: 10px;
  margin-left: -10px;
  transform: translateX(-3px);
}

/* ADD NEW ISSUE */
.issues__addnew .issues__form {
}
.issues__addnew label {
  display: block !important;
  display: inline-block;
  margin-top: 12px;
}
